body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.layout {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100%;
  background: url('../img/hgtauko.png');
}

.long {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 0.9em;
  text-align: left;
}

.player1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 260px;
  height: 72px;
  top: 927px;
  left: 664px;
  font-size: 1.4em;
}

.player2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 260px;
  height: 72px;
  top: 927px;
  left: 996px;
  font-size: 1.4em;
}

.sponsor {
  font-weight: 800;
  margin-right: 5px;
}

.phase {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: absolute;
  width: 305px;
  height: 46px;
  top: 937px;
  left: 356px;
  font-size: 2.3em;
  font-weight: 600;
  text-align: center;
}
